<h1>Eat-da-Burger!</h1>

<h2>Eat Me:</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      <li>
        <form action="/api/burgers/{{this.id}}?_method=PUT" method="POST">
          <button type="submit" class='burgerAvailable'><i class="fas fa-hamburger"></i> {{this.burger_name}}</button>
        </form>
      </li>
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers Eaten!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      <li>
        {{burger_name}}
      </li>    
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
    <form action="/api/burgers" method="POST">
      <input type="text" id="name" name="burger_name" placeholder="Burger Name">
      <button type="submit" class="addBurgerButton">Add The Burger</button>
    </form>

